@import "../sharedStyles/colors.scss";

nav {
  width: 100%;
  transition: 0.3s ease all;
  background-color: $White;
  .nav-item {
    padding-left: 30px;
    color: $BeigeDarker;
  }
  .nav-link {
    color: $BeigeDarker;
  }
  a {
    color: $BeigeDarker;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
  }

  a:hover {
    color: $BeigeDarker2;
  }

  p {
    color: $BeigeDarker;
  }
}
