// colors
$BeigeLight: #fff7f0;
$Beige: #ffeacf;
$BeigeDarker: #e8cfbc;
$BeigeDarker2: #c4ae9d;

$RoseLight: #ffe6dc;
$RoseDark: #e8c2bc;
$RoseDark2: #dbb5af;
$Rose: #ffcfd0;

$White: white;

$BlackPremium: rgb(88, 88, 88);
