@import "../../sharedStyles/colors.scss";

h4 {
  text-transform: initial;
}

ul {
  margin: 10% 0 10% 0;

  li {
    display: inline-block;
    margin: 1% 2% 6% 1%;
  }
}

.arrow {
  font-size: 30px;
  color: $BeigeDarker2;
}

.rs {
  font-size: 60px;
  color: $RoseDark;
  a {
    text-decoration: none;
    color: $RoseDark;
  }
  a:hover {
    color: $RoseDark2;
  }
}
