<section id="contacts">
  <div class="container">
    <h3 class="text-center">
      < contacts >
    </h3>
    <h4 class="text-center mt-5">
      Pour me joindre :
    </h4>
    <ul class="text-center">
      <li>
        <span class="rs"
          ><a href="mailto:celine.ly.99@outlook.fr"
            ><i class="fas fa-envelope"></i
          ></a>
        </span>
      </li>
      <li>
        <span class="arrow d-none d-sm-block"
          ><i class="fas fa-sort-down"></i
        ></span>
      </li>
      <li>
        <span class="rs"
          ><a href="https://www.linkedin.com/in/céline-ly-804273158/">
            <i class="fab fa-linkedin"></i></a
        ></span>
      </li>
      <li>
        <span class="arrow d-none d-sm-block"
          ><i class="fas fa-sort-down"></i
        ></span>
      </li>
      <li>
        <span class="rs"
          ><a href="https://github.com/clee1999"
            ><i class="fab fa-github"></i
          ></a>
        </span>
      </li>
    </ul>
  </div>
</section>
