<app-aboutme></app-aboutme>
<app-skills></app-skills>
<app-parcours></app-parcours>
<app-projets></app-projets>
<app-contacts></app-contacts>
<div>
  <ul>
    <li>
      <span class="rs"
        ><a href="mailto:celine.ly.99@outlook.fr"
          ><i class="fas fa-envelope"></i
        ></a>
      </span>
    </li>
    <li>
      <span class="rs"
        ><a href="https://www.linkedin.com/in/céline-ly-804273158/">
          <i class="fab fa-linkedin"></i></a
      ></span>
    </li>
    <li>
      <span class="rs"
        ><a href="https://github.com/clee1999"><i class="fab fa-github"></i></a>
      </span>
    </li>
  </ul>
</div>
