<section id="skills">
  <div class="container-fluid mx-auto">
    <div class="text-center mb-5">
      <h3>< skills ></h3>
    </div>
    <div class="text-center">
      <h4>Programmation et encore programmation :)</h4>
    </div>
    <div
      class="d-flex flex-xl-row flex-sm-row flex-column justify-content-around bd-highlight mb-3 justify-content-around mt-5"
    >
      <div class="p-5 bd-highlight white-bloc text-center mx-auto">
        <h4 class="mb-4">Langages de programmation</h4>
        <p>html5, css3, javascript, sass, php, java, typescript, jest</p>
      </div>
      <div class="p-5 bd-highlight white-bloc text-center mx-auto">
        <h4 class="mb-4">Frameworks et technologies web</h4>
        <p>bootstrap, angular, vue.js, nodejs, graphql, phpcake</p>
      </div>
      <div class="p-5 bd-highlight white-bloc text-center mx-auto">
        <h4 class="mb-4">CMS</h4>
        <p>wordpress, ezpublish, drupal</p>
      </div>
    </div>
    <div
      class="d-flex flex-xl-row flex-sm-row flex-column justify-content-around bd-highlight mb-3 justify-content-around mt-5"
    >
      <div class="p-5 bd-highlight white-bloc text-center mx-auto">
        <h4 class="mb-4">Outils et environnement web</h4>
        <p>
          sketch, suite adobe, tests unitaires, référencement web, webanalytics
        </p>
      </div>
      <div class="p-5 bd-highlight white-bloc text-center mx-auto">
        <h4 class="mb-4">Gestion de projet</h4>
        <p>méthode agile : scrum, marketing digital, étude de marché</p>
      </div>
      <div class="p-5 bd-highlight white-bloc text-center mx-auto">
        <h4 class="mb-4">Base de donnée</h4>
        <p>mysql, sql, myphpadmin</p>
      </div>
    </div>
  </div>
</section>
