@import "../../sharedStyles/colors.scss";
h4 {
  text-transform: initial;
}

h3 {
  padding-bottom: 50px;
}

.card {
  border: none;
  padding: 30px;
  margin-bottom: 30px;
}

span {
  margin-left: 55px;
  a {
    text-decoration: none;
    color: $BeigeDarker;
  }
  a:hover {
    color: $BeigeDarker2;
  }
}

@media (max-width: 575.98px) {
  span {
    margin: 10px;
  }
  .card {
    padding: 0px;
  }
}
