<section id="parcours">
  <div class="container-fluid wow slideInLeft">
    <h3 class="text-center">< parcours ></h3>
    <div class="row marginbloc">
      <div class="col-xl-12 text-center">
        <h3 class="titre">
          <span typingAnimation [typeSpeed]="50" [startDelay]="1000"
            >Formations</span
          >
        </h3>
        <ul>
          <li>
            <span>2020-2022</span>
            <h4>Mastère Ingénierie du Web</h4>
            <p>Ecole Supérieure de Génie Informatique, 75012, Paris</p>
          </li>
          <li>
            <span>2019-2020</span>
            <h4>Bachelor web</h4>
            <p><strong>Spécialité Développement Web</strong></p>
            <p>Digital Campus Paris, 75002, Paris</p>
          </li>
          <li>
            <span>2017-2019</span>
            <h4>DUT MMI (Métier du multimédia et de l'internet)</h4>
            <p><strong>Parcours Développement Web et Mobile</strong></p>
            <p>Université Paris-Est Marne-La-Vallée</p>
          </li>
          <li>
            <span>2015-2017</span>
            <h4>Baccalauréat Economique et Social</h4>
            <p><strong>Avec mention, Spécialité mathématiques</strong></p>
            <p>Lycée Privée Catholique Fénelon, 93410, Vaujours</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row marginbloc">
      <div class="col-xl-12 text-center">
        <h3 class="titre">
          <span typingAnimation [typeSpeed]="50" [startDelay]="1000"
            >Expériences</span
          >
        </h3>
        <ul>
          <li>
            <span>2019-2022</span>
            <h4>Webdevelopper</h4>
            <p><strong>Alternance</strong></p>
            <p>LCL, Siège Social, Villejuif</p>
          </li>
          <li>
            <span>2019 (5 mois)</span>
            <h4>Webmaster</h4>
            <p><strong>Stage</strong></p>
            <p>Havas Digital Factory, Siège Social, Puteaux</p>
          </li>
          <li>
            <span>2018 (1 mois)</span>
            <h4>Webmarketeur</h4>
            <p><strong>Stage</strong></p>
            <p>Renault, Villepinte</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
