@import "../../sharedStyles/colors.scss";
h3 {
  margin-bottom: 20px;
}

li {
  margin-bottom: 30px;
}

span {
  line-height: 30px;
}

.titre {
  font-size: 35px;
  color: $Rose;
  padding-bottom: 20px;
}
