<section id="parcours">
  <div class="container-fluid">
    <h3 class="text-center">< parcours ></h3>
    <div class="row mt-5">
      <div class="col-xl-6">
        <h3 class="titre">
          <span
            typingAnimation
            [typeSpeed]="50"
            [startDelay]="1000"
            (complete)="onComplete()"
            >Formations</span
          >
        </h3>
        <ul>
          <li>
            <span>2019-2020</span>
            <h4>Bachelor web</h4>
            <p><strong>Spécialité Développement Web</strong></p>
            <p>Digital Campus Paris, 75002, Paris</p>
          </li>
          <li>
            <span>2017-2019</span>
            <h4>DUT MMI (Métier du multimédia et de l'internet)</h4>
            <p><strong>Parcours Développement Web et Mobile</strong></p>
            <p>Université Paris-Est Marne-La-Vallée</p>
          </li>
          <li>
            <span>2015-2017</span>
            <h4>Baccaleuréat Economique et Social</h4>
            <p><strong>Spécialité mathématiques</strong></p>
            <p>Lycée Privée Catholique Fénelon, 93410, Vaujours</p>
          </li>
        </ul>
      </div>
      <div class="col-xl-6 text-right">
        <h3 class="titre">
          <span
            typingAnimation
            [typeSpeed]="50"
            [startDelay]="1000"
            (complete)="onComplete()"
            >Expériences</span
          >
        </h3>
        <ul>
          <li>
            <span>2019-2020</span>
            <h4>Analyste Programmeur informatique</h4>
            <p><strong>Alternance</strong></p>
            <p>LCL, Siège Social, Villejuif</p>
          </li>
          <li>
            <span>2019 (5 mois)</span>
            <h4>Webmaster</h4>
            <p><strong>Stage</strong></p>
            <p>Havas Digital Factory, Siège Social, Puteaux</p>
          </li>
          <li>
            <span>2018 (1 mois)</span>
            <h4>Webmarketeur</h4>
            <p><strong>Stage</strong></p>
            <p>Renault, Villepinte</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
