/* You can add global styles to this file, and also import other style files */
@import "./app/sharedStyles/reset.scss";
@import "./app/sharedStyles/colors.scss";

/* Font-size */
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $BeigeLight;
}

body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-size: 20px;
  line-height: 35px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: $BlackPremium;
  strong {
    font-weight: 600;
  }
}

h1 {
  font-size: 90px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $BeigeDarker;
}

h2 {
  font-size: 56px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $BeigeDarker;
}

h3 {
  font-size: 44.8px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $RoseDark;
  letter-spacing: 10px;
}

h4 {
  font-size: 26px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $BeigeDarker;
}

@media (max-width: 675.98px) {
  section {
    margin-top: 50px;
    padding-top: 15px !important;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 26px;
  }
}

// sections height
section {
  margin-top: 0;
  padding-top: 100px;
  border-left: $White 35px solid;
  border-right: $White 35px solid;
  padding-bottom: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $BeigeDarker2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $BeigeDarker2;
}
